<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Build A Bot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        body {margin-top: 1em;}
    </style>
</head>
<body>
<div class="container-fluid" id="smsDashboard">
    <h1>Build a Bot</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="speechRecognition" style="padding-bottom: 0.2em">
                Speech recognition is not supported in your browser
            </div>
            <form class="form-inline" onsubmit="window.requestText(document.getElementById('requestText').value); event.preventDefault();">
                <input id="requestText" type="text" autocomplete="off" class="form-control col-sm-8" placeholder="What is your command?" />
                <button id="submitRequest" class="btn btn-primary">Request</button>
            </form>
            <div class="form-check" id="speechCheckbox">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="speakResult" disabled>
                    Speech synthesis is not supported in your browser
                </label>
            </div>
            <p><strong>Text Response: </strong><span id="responseText"></span></p>
        </div>
    </div>
</div><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/api-ai/apiai-javascript-client/2.0.0-beta.21/target/ApiAi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script>
    var apiAi = new ApiAi.ApiAiClient({accessToken: '{{ API_AI_KEY }}'}), isRequesting = false;

    if ('speechSynthesis' in window) { // only show "Speak result" checkbox if browser can speak
        document.getElementById('speechCheckbox').innerHTML = '<label class="form-check-label">' +
            '<input class="form-check-input" type="checkbox" id="speakResult">Speak result</label>';
    } // see https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API for browser support info

    if (annyang) { // Speech recognition is available!
        annyang.addCommands({'*text': function(text) {
            // Once we recognize a phrase, we stop listening. We could keep listening/processing requests
            // instead, even controlling whether we're listening via voice commands, if we want.
            document.getElementById('listenButton').disabled = false;
            document.getElementById('listenButton').innerText = 'Listen';
            document.getElementById('requestText').value = text;
            requestText(text);
            annyang.abort();
        }}); // map all incoming speech recognition to our text request function

        function listenForSpeech() {
            if (annyang.isListening()) {
                return;
            }

            document.getElementById('listenButton').disabled = true;
            document.getElementById('listenButton').innerText = 'Listening...';
            annyang.start();
        }

        document.getElementById('speechRecognition').innerHTML = // set up listen button
            '<button class="btn btn-success" id="listenButton" onclick="listenForSpeech()">Listen</button>';
    }

    function requestText(text) {
        if (isRequesting) {
            return;
        }
        isRequesting = true;
        document.getElementById('submitRequest').disabled = true;

        apiAi.textRequest(text).then(function(response) {
            console.log(response);

            if ('speechSynthesis' in window && document.getElementById('speakResult').checked) {
                window.speechSynthesis.speak(new SpeechSynthesisUtterance(response.result.fulfillment.speech));
            }

            for (var i = 0; i < response.result.fulfillment.messages.length; i++) {
                if (response.result.fulfillment.messages[i].type === 0) { // text response type
                    document.getElementById('responseText').innerText = response.result.fulfillment.messages[i].speech;
                    return;
                }
            }
        }).catch(function(error) {
            document.getElementById('responseText').innerText = 'Request failed. See console.';
            console.log(error);
        }).then(function() {
            document.getElementById('submitRequest').disabled = false;
            isRequesting = false;
        });
    }
</script>
</html>
